<div id="div">
  <div class="container">
    <h3 *ngIf="searchkey; else elseBlock">Tweets on {{searchkey}}</h3>
    <ng-template #elseBlock></ng-template>
    <form class="col s4">
      <div *ngFor="let item of tweetsdata" class="col s12 m7">

        <div class="card" id="tweet">
          <div class="card-image">
            <img id="img2" src={{item.user.profile_image_url}} height=50, width=50>
          </div>
          <div class="right-content">
            <span class="card-title" style="font-size: 1.5em"><i>@{{item.user.name}}</i></span>
            <div class="card-content" id="content" style="font-size: 1.2em"><br>
               {{item.text}}
            </div>

          </div>
        </div>
        <br>
      </div>
    </form>
  </div>
</div>