#div{
    margin:-60px auto;
    width: 1000px;
    }
     
   h3{
    color: #238ce2;
}
a{
    color:#238ce2;
}
ol{
   /* background-color: white; */
    border-radius: 5px;
    
}

li{
    margin: 1.4em;
    border: 1px solid #238ce2; 
    border-radius: 15px; 
    background-color: white; 
    padding: 2%;
    list-style: none;
}