
<!--
<br>
    <div id="id" class="container">
   <form [formGroup]="formdata" (ngSubmit) = "set(formdata.value)">
    <table>
<tr> 
  <td><input type = "text" class="form-control" name = "search" formControlName="search" ></td>
 <td><button type="submit" class="btn btn-primary"><i class="fas fa-search"></i> Search</button></td>
</tr>
</table>
</form>

<br>
<button class="btn btn-primary" routerLinkActive="active-link" routerLink = "/tweets">Tweets</button>&nbsp;
<button class="btn btn-primary" routerLinkActive="active-link" routerLink = "/news">Hacker News</button>&nbsp;
<button class="btn btn-primary" routerLinkActive="active-link" routerLink = "/research">Research</button>
<br><br>
<router-outlet></router-outlet> 
</div> -->
<!--Shivam code-->
<!-- <body>
    <div>
        <div class="raw" id="header">
                <form [formGroup]="formdata" (ngSubmit) = "set(formdata.value)">
                <table>
                     <tr>
                            <td id="titletd"><p>Aggr</p> </td>
                    <td>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 
                                  
                            <input type="text" class="form-control" name = "search" formControlName="search" placeholder="Search "/>
                             <button type="submit" class="btn btn-info" id="td"><i class="fas fa-search"></i> Search</button>    
                    </td>
                    </tr>                              
                    </table>  
                    </form>
      </div>

    
      <div class="container" id="router">
            <router-outlet></router-outlet> 
    </div>

<div style="background: linear-gradient(to right, #30CFD0 0%, #238ce2 100%); width:300px;height:1200px;" id="links">


    <div>
        <img  routerLink = "/tweets"  src="../assets/tweet.jpg" style="margin-top:14px 14px;margin-right:5px;height: 100%;width: 20%;border-radius:15px;  -webkit-animation: mymove 5s infinite;
        animation: mymove 5s infinite;" id="tw"/><font style="font-size:25px;color: deepskyblue;margin:8px 13px;font-weight: bold;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Twitter</font>
        &nbsp;&nbsp;
    </div>
    <br>
    <div>       <img routerLink = "/news" src="../assets/y.png" style="margin-top:14px 14px;margin-right:5px;height:3%;width:20%;border-radius: 15px  ;-webkit-animation: mymove 5s infinite; 
            animation: mymove 5s infinite;" id="hc"/><font style="font-size:25px;color: deepskyblue;margin:8px 13px;font-weight: bold;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">YCombinator</font>
        &nbsp;&nbsp;
    </div>
    <br>
    <div>      <img  routerLink = "/research" src="../assets/iee4.png" style="margin-top:14px 14px;margin-right:5px;height:3%;width:20%;border-radius:15px;  -webkit-animation: mymove 5s infinite;
            animation: mymove 5s infinite;" id="ieee"/><font style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size:25px;color: deepskyblue;margin:8px 13px;font-weight: bold;">Research</font>
        </div>           
    </div>

    </div>


</body> -->
<!--Abhishek Code-->

<h1 style="color:white ;font-family: 'Parisienne', cursive;" align="center">Aggregator</h1>
<div  align="center">
    <form [formGroup]="formdata" (ngSubmit) = "set(formdata.value)">
<input type="text" class="form-control form-rounded" placeholder="Search Here!" size="50" id="searchbar" name = "search" formControlName="search">
<button class="btn btn-default" >Search</button>
</form>
<div id="tabdiv" align="center" >
<ul class="nav nav-pills nav-fill">
  
  <li><a routerLink="/tweets">Twitter</a></li>
  <li><a routerLink="/news">YCombinator</a></li>
  <li><a routerLink="/research">Research</a></li>
</ul>
</div>



</div><br><br><br>
<router-outlet ></router-outlet>
<div align="center">
<footer style="color:white;position:relative;height:800px;">Made with <span style="color:crimson">&#10084;</span> at <a href="https://www.xoriant.com">Xoriant</a></footer>
</div>


 
