/* #tweet{
	border-radius: 5%;
	margin:6%;
	margin-block-start: 1%;
	}
	p{
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		font-size: 90px ;
		color:white;
		background:linear-gradient(to right, #30CFD0 0%, #238ce2 100%);
		padding-bottom: 20px;
	}
	
	@-webkit-keyframes mymove {
		50% {box-shadow: 10px 20px 30px rgb(22, 21, 59);}
	}
	
	@keyframes mymove {
		50% {box-shadow: 10px 20px 30px rgb(22, 21, 59);}
	}
	
	font{
	
		background:white;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	padding-top: 10px;
			
	}
	input[type=text] {
		border: 1px solid #4dd0e1;
		box-shadow: 0 0 0 1px #4dd0e1;
	    width: 700px;
	   height: 40px;
	  border-radius: 0px;
	   padding: 10px;
	   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	  font-size: 18px;
	  font-weight:bold;
	/* margin:-7% 15%; */
	/* margin :5% 10%;
	
	}
	
	#se{
	margin-top: 17%;
	
	}
	
	img{
	border-radius:15px;
	margin: 0px 30px;
	}

	img:hover{
		border: 6px solid white;
	}
	
	#sidebar{
		background: #238ce2;
		height: 100%;
		width:20%;
	}

	#titletd{
		background: linear-gradient(to right, #30CFD0 0%, #238ce2 100%);
		width:30%;
	   text-align: center;
	   font-size:30px;
	
	}

	.raw{
	margin:0px ;
	}
	
	#td{
	margin: -19.1% 110% auto;
	width: 15%;
	height:43px;
	}

	.container{
	margin:0 22% auto ;
	}
	
	#header{
	float: top;
	}
	
	#links{
	float:left;
	position: absolute;
	}
	
	#router{
	width:20%;
	float:right;
	margin:1% 57% auto ;
	padding-right: 10%;
	}
	
	body{
		overflow: hidden;
		
	} */ 

	#searchbar{
		margin-top: 150px;
		margin-bottom:5px;
		margin-right:150px;
		margin-left:200px;
		background:Transparent;
		max-width:45%;
	}
	button{
		margin:0px;
		align:center;
	}
	#searchbar:focus{
		color:white;
		border-color:Transparent;
	}
	footer{
		align:center;
	}
	a{
		color:#00cc99;
		
		
	}
	a:hover{
	
		text-decoration:none;
	}
	li{
		border:solid white 1px;
		border-radius:5px;
		
	}
	#tabdiv{
		margin-left: 39em;
		margin-top:25px;
	}
	p{
		color:white;
	}
	